*, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}
.main-container .inner-container {
  max-width: 1300px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

.middle-content {
  background-color: #F0F7FF;
  padding: 49px 84px 151px 100px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .middle-content {
    padding: 0;
    display: none;
  }
}
.middle-content .slider {
  display: grid;
  grid-template-columns: 461px 521px;
  grid-gap: 140px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .middle-content .slider {
    grid-template-columns: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .middle-content .slider .image-section .images-section {
    display: none;
  }
}
.middle-content .slider .image-section .images-section img {
  margin-right: 10px;
}
.middle-content .slider .image-section .images-section img:last-child {
  margin-right: 0px;
}
.middle-content .slider .image-section .paragraph {
  padding: 29px 16px 20px 35px;
  width: 455px;
  height: 209px;
  border-radius: 14px;
  background: #FFFFFF;
  border: 1px solid #CCE0FF;
}
@media (min-width: 320px) and (max-width: 767px) {
  .middle-content .slider .image-section .paragraph {
    display: none;
  }
}
.middle-content .slider .image-section .paragraph img {
  margin-right: 10px;
}
.middle-content .slider .image-section .paragraph img:last-child {
  margin-right: 0px;
}
.middle-content .slider .image-section .paragraph p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.middle-content .slider .image-section .paragraph div .image {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 11px;
  align-items: center;
}
.middle-content .slider .selling-offer {
  background-color: #FFFFFF;
  padding: 33px 30px 63px 30px;
  border-radius: 19px;
}
.middle-content .slider .selling-offer h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #333333;
  margin-bottom: 6px;
}
.middle-content .slider .selling-offer .stars-section span {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin-left: 10px;
}
.middle-content .slider .selling-offer .description {
  margin-bottom: 20px;
}
.middle-content .slider .selling-offer .description h1 {
  color: #010071;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}
.middle-content .slider .selling-offer .description p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #606060;
}
.middle-content .slider .selling-offer .price {
  margin-bottom: 15px;
}
.middle-content .slider .selling-offer .price h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #010071;
  display: inline-block;
}
.middle-content .slider .selling-offer .price h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #606060;
  display: inline-block;
}
.middle-content .slider .selling-offer .price p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background: #010071;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  line-height: 27px;
  width: 192px;
  height: 27px;
}
.middle-content .slider .selling-offer .menu-list {
  margin-bottom: 20px;
}
.middle-content .slider .selling-offer .menu-list ul li {
  align-items: center;
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 7px;
  margin-bottom: 10px;
}
.middle-content .slider .selling-offer .menu-list ul li:last-child {
  margin-bottom: 0px;
}
.middle-content .slider .selling-offer .menu-list ul li img {
  margin-right: 7px;
}
.middle-content .slider .selling-offer .bottle-deal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 9px;
}
.middle-content .slider .selling-offer .bottle-deal .single-section {
  margin-bottom: 17px;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .single-item {
  margin-bottom: 6px;
  position: relative;
  padding: 12px 21px;
  background: #FAFCFF;
  border: 1px solid #CCE0FF;
  box-sizing: border-box;
  border-radius: 9px;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .single-item h3 {
  color: #010071;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .single-item p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .single-item span {
  padding: 0px 16px;
  border-radius: 4px;
  background-color: #D70000;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top: -7px;
  left: -9px;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .single-item .span {
  background-color: #00931C;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .item-two {
  background-color: #010071;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .item-two h3 {
  color: #ffffff;
}
.middle-content .slider .selling-offer .bottle-deal .single-section .item-three {
  padding: 20px 21px;
}
.middle-content .slider .selling-offer .bottle-deal .single-section h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.middle-content .slider .offer-btn button {
  background-color: #FDE10D;
  padding: 0 114px;
  cursor: pointer;
  height: 64px;
  border-radius: 9px;
  outline: none;
  border: none;
  color: #010071;
  font-size: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.middle-content .slider .offer-btn button p {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-transform: capitalize;
  color: #202C39;
}
.middle-content .slider .card {
  text-align: center;
  margin-bottom: 22px;
}
.middle-content .slider .button {
  display: grid;
  grid-template-columns: 195px 195px;
  grid-gap: 15px;
  align-items: center;
  padding-left: 28px;
  margin-bottom: 20px;
}
.middle-content .slider .button div {
  display: grid;
  grid-template-columns: 37px auto;
  grid-gap: 5px;
  background: #F0F6FF;
  border-radius: 8.19101px;
}
.middle-content .slider .button div a {
  align-self: center;
  padding-left: 17px;
}
.middle-content .slider .button button {
  background: #F0F6FF;
  height: 40px;
  border: none;
  border-radius: 8.19101px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
}
.middle-content .slider .return {
  width: 408px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 19px;
  border: 1px solid #CCE0FF;
  display: grid;
  grid-template-columns: 210px auto;
  align-content: center;
  margin-left: 28px;
  padding: 0 20px;
}
.middle-content .slider .return span {
  font-size: 18px;
  color: #03267F;
}
.middle-content .slider .return a {
  justify-self: end;
}

@media (min-width: 320px) and (max-width: 767px) {
  header {
    position: relative;
  }
}
header .header-content {
  justify-content: center;
  height: 73px;
  align-items: center;
  display: grid;
  grid-template-columns: 84px auto;
  grid-gap: 26px;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .header-content {
    grid-template-columns: 54px auto;
    padding: 0 20px;
    grid-gap: 11px;
    box-shadow: 0px 1px 13px #B5C9C7;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header .header-content .header-logo img {
    width: 100%;
    height: 100%;
  }
}
header .header-content h5 {
  border-left: 1px solid #828282;
  padding-left: 26px;
  color: #010071;
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .header-content h5 {
    font-size: 11px;
    padding-left: 11px;
  }
}

.offer-label {
  background-color: #FFCB2D;
  height: 32px;
  line-height: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .offer-label {
    display: none;
  }
}
.offer-label p {
  text-align: center;
  font-weight: 700;
  color: #242520;
  font-size: 14px;
}

.supplement-list {
  background-color: #010071;
}
.supplement-list .inner-container {
  padding: 59px 96px 75px 160px;
}
.supplement-list .inner-container h1 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 26px;
  text-align: center;
}
.supplement-list .inner-container .supplement-grid {
  display: grid;
  grid-template-columns: 417px auto;
  grid-gap: 150px;
}
.supplement-list .inner-container .supplement-grid .menu-list ul li {
  display: grid;
  grid-template-columns: 34px auto;
  grid-gap: 14px;
  align-items: center;
  margin-bottom: 30px;
}
.supplement-list .inner-container .supplement-grid .menu-list ul li:last-child {
  margin-bottom: 0;
}
.supplement-list .inner-container .supplement-grid .menu-list ul li i {
  font-size: 36px;
  color: #FDE10D;
}
.supplement-list .inner-container .supplement-grid .menu-list ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.phenyx-question {
  text-align: center;
  background-color: #010071;
}
.phenyx-question .question {
  padding: 60px 300px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .phenyx-question .question {
    padding: 0 20px;
  }
}
.phenyx-question .question h1 {
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 6px;
}
.phenyx-question .question p {
  color: #f2f2f2;
  padding-bottom: 30px;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  border-bottom: 1px solid #FDE10D;
}
.phenyx-question .question ul {
  text-align: left;
}
.phenyx-question .question ul li {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #FDE10D;
  padding: 15px 20px 15px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .phenyx-question .question ul li {
    font-weight: 400;
    grid-template-columns: auto auto;
    font-size: 13px;
  }
}
.phenyx-question .question ul li span {
  justify-self: end;
}

.about-us {
  background-color: #fffce6;
  padding: 60px 100px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us {
    display: none;
  }
}
.about-us p {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 18px;
}
.about-us h1 {
  color: #010071;
  text-transform: uppercase;
}
.about-us .stars-rating {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: center;
  align-items: baseline;
}
.about-us .stars-rating ul li {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #00b67a;
  position: relative;
}
.about-us .stars-rating ul li i {
  color: white;
  font-size: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-us .review-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.about-us .review-container .single-review-box {
  border-radius: 10px;
  background-color: #ffff;
}
.about-us .review-container .single-review-box img {
  width: 100%;
}
.about-us .review-container .single-review-box .review-content {
  padding: 20px 20px;
}
.about-us .review-container .single-review-box .review-content p {
  color: #010071;
  text-align: left;
}
.about-us .review-container .single-review-box .review-content p span {
  text-decoration: underline;
  font-weight: bold;
}
.about-us .review-container .single-review-box .review-content h6 {
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
}
.about-us .review-container .single-review-box .review-content .verify-buyer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-end;
  margin-bottom: 15px;
}
.about-us .review-container .single-review-box .review-content .verify-buyer .buyer-title {
  display: grid;
  grid-template-columns: 16px 116px;
  grid-gap: 11px;
  align-items: center;
}
.about-us .review-container .single-review-box .review-content .verify-buyer .buyer-title h5 {
  color: #00931c;
  font-weight: 500;
  text-transform: uppercase;
}
.about-us .review-container .single-review-box .review-content .verify-buyer .buyer-title img {
  width: 18px;
  height: 25px;
}
.about-us .review-container .single-review-box .review-content .verify-buyer ul {
  justify-self: end;
}
.about-us .review-container .single-review-box .review-content .verify-buyer ul li {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  background: #ffcb2d;
}
.about-us .review-container .single-review-box .review-content .verify-buyer ul li i {
  color: #fff;
  font-size: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ingredient-container {
  padding: 93px 110px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 135px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .ingredient-container {
    grid-template-columns: 100%;
    grid-gap: 0;
    padding: 10px 20px;
  }
}
.ingredient-container .difference-makers h1 {
  color: #010071;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.ingredient-container .difference-makers p {
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 36px;
}
.ingredient-container .difference-makers a {
  color: #010071;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.ingredient-container .ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .ingredient-container .ingredient-list {
    grid-template-columns: auto;
  }
}
.ingredient-container .ingredient-list .first-ingredient {
  background: url(../images/first-gradient.png);
}
.ingredient-container .ingredient-list .second-ingredient {
  background: url(../images/second-gradient.png);
}
.ingredient-container .ingredient-list .third-ingredient {
  background: url(../images/third-gradient.png);
}
.ingredient-container .ingredient-list .forth-ingredient {
  background: url(../images/forth-gradient.png);
}
.ingredient-container .ingredient-list .single-ingredient {
  background-repeat: no-repeat;
  background-size: cover;
  width: 335px;
  height: 226px;
  padding: 20px 35px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 8px;
  align-items: end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .ingredient-container .ingredient-list .single-ingredient {
    padding: 20px 24px;
    width: 100%;
  }
}
.ingredient-container .ingredient-list .single-ingredient h2 {
  font-weight: 700;
  color: #010071;
  text-transform: uppercase;
}
.ingredient-container .ingredient-list .single-ingredient p {
  line-height: 19px;
  font-weight: 400;
  font-size: 18px;
}

.twittes-container {
  background-color: #FDE10D;
  padding: 90px;
  text-align: center;
  display: none;
}
.twittes-container h1 {
  color: #010071;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.twittes-container .twittes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.twittes-container .twittes img {
  width: 100%;
  height: 100%;
}

.enhance-eupplement {
  background-color: #FAFCFF;
}
@media (min-width: 320px) and (max-width: 767px) {
  .enhance-eupplement {
    display: none;
  }
}
.enhance-eupplement .inner-container {
  padding: 42px 180px;
}
.enhance-eupplement .inner-container h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 41px;
}
.enhance-eupplement .inner-container h3 span {
  color: #010071;
  border-bottom: 1px solid #010071;
}
.enhance-eupplement .inner-container .enchance-content {
  text-align: center;
}
.enhance-eupplement .inner-container .enchance-content .single-item {
  display: grid;
  grid-template-columns: 461px 207px 241px;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #F0F6FFDB;
}
.enhance-eupplement .inner-container .enchance-content .single-item p {
  text-align: left;
  padding-left: 71px;
  color: #010071;
  font-size: 21px;
  font-weight: 400;
}
.enhance-eupplement .inner-container .enchance-content .single-item .limits-img {
  background-color: #FDE10D;
  border-radius: 10px;
}
.enhance-eupplement .inner-container .enchance-content .single-item .same-color {
  background-color: #FDE10D;
}
.enhance-eupplement .inner-container .enchance-content .single-item h6 {
  color: Dark Blue;
  font-size: 16px;
  padding-bottom: 10px;
}
.enhance-eupplement .inner-container .enchance-content .first-child {
  height: 102px;
}
.enhance-eupplement .inner-container .enchance-content .same-color {
  background-color: #fff;
}

.your-day .grid-section {
  display: grid;
  grid-template-columns: 274px auto;
  grid-gap: 178px;
  padding: 35px 150px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section {
    grid-template-columns: auto;
    padding: 32px 20px;
    grid-gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section .img {
    width: 100%;
  }
}
.your-day .grid-section .offer-section {
  padding: 0px 85px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section .offer-section {
    padding: 0;
  }
}
.your-day .grid-section .offer-section h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #010071;
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section .offer-section h1 {
    font-size: 22px;
  }
}
.your-day .grid-section .offer-section .star-section {
  margin-bottom: 22px;
}
.your-day .grid-section .offer-section .star-section span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #010071;
}
.your-day .grid-section .offer-section .menu-list {
  margin-bottom: 40px;
}
.your-day .grid-section .offer-section .menu-list ul li {
  display: grid;
  grid-template-columns: 34px auto;
  grid-gap: 14px;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section .offer-section .menu-list ul li {
    grid-gap: 0;
    margin-bottom: 10px;
  }
}
.your-day .grid-section .offer-section .menu-list ul li:last-child {
  margin-bottom: 0;
}
.your-day .grid-section .offer-section .menu-list ul li i {
  font-size: 36px;
  color: #FDE10D;
}
.your-day .grid-section .offer-section .menu-list ul li a {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section .offer-section .menu-list ul li a {
    font-size: 13px;
  }
}
.your-day .grid-section .offer-section .offer-button button {
  background-color: #FDE10D;
  width: 403px;
  height: 64px;
  border-radius: 9px;
  outline: none;
  border: none;
  color: #010071;
  font-size: 17px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .your-day .grid-section .offer-section .offer-button button {
    width: 100%;
  }
}
.your-day .grid-section .offer-section .offer-button button p {
  color: #202C39;
  font-size: 11px;
}

footer {
  background-color: #F0F6FF;
}
footer .footer-section {
  padding: 34px 54px 27px 17px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .footer-section {
    text-align: center;
    padding: 34px 20px 40px;
  }
}
footer .footer-section h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 17px;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .footer-section h4 {
    text-align: center;
  }
}
footer .footer-section p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}
footer .footer-section .card-images img {
  margin-right: 10px;
}
footer .footer-section .card-images img:last-child {
  margin-right: 0px;
}

/*# sourceMappingURL=style.css.map */
