.about-us {
    background-color: #fffce6;
    padding: 60px 100px;
    text-align: center;
    @media (min-width:320px) and (max-width:767px) {
        display: none;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        margin-bottom: 18px;
    }
    h1 {
        color: #010071;
        text-transform: uppercase;
    }
    .stars-rating {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        justify-content: center;
        align-items: baseline;
        ul {
            li {
                display: inline-block;
                width: 14px;
                height: 14px;
                background-color: #00b67a;
                position: relative;
                i {
                    color: white;
                    font-size: 9px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .review-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        .single-review-box {
            border-radius: 10px;
            background-color: #ffff;
            img {
                width: 100%;
            }
            .review-content {
                padding: 20px 20px;
                p {
                    color: #010071;
                    text-align: left;
                    span {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
                h6 {
                    font-size: 15px;
                    text-align: left;
                    text-transform: uppercase;
                }
                .verify-buyer {
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: flex-end;
                    margin-bottom: 15px;
                    .buyer-title {
                        display: grid;
                        grid-template-columns:16px 116px;
                        grid-gap: 11px;
                        align-items: center;
                        h5 {
                            color: #00931c;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        img {
                            width: 18px;
                            height: 25px;
                        }
                    }
                    ul {
                        justify-self: end;
                        li {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            position: relative;
                            background: #ffcb2d;
                            i {
                                color: #fff;
                                font-size: 9px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
}
