footer {
    background-color:#F0F6FF;
    .footer-section {
        padding: 34px 54px 27px 17px;
    
        @media (min-width:320px) and (max-width:767px) {
            text-align: center; 
            padding: 34px 20px 40px ;   
        }
        h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 17px;

            @media (min-width:320px) and (max-width:767px) {
                text-align: center;
            }
        }
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 10px;
        }
        .card-images {
            img {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}