ul {
    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}
ul.review-stars {
    height: 21px;
    li {
        display: inline-block;
        a {
            height: 21px;
            display: block;
        }
    }
}