.offer-label {
    background-color: #FFCB2D;
    height: 32px;
    line-height: 32px;
    @media (min-width:320px) and (max-width:767px) {
        display: none;
    }
    p {
        text-align: center;
        font-weight: 700;
        color: #242520;
        font-size: 14px;
    }
}